html {
    font-size: 22px;
}

body {
    background-color: transparent;
    /* background-image: url(img/Landscape-BW.jpg); */
    color:  black;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

* {
    font-family: Calibri, Comic Sans MS, Serif;
    background-size: cover;
    background-position:50% 50%;
    }

div {
    width: 45%;
    height: 50%;
    margin: 0 auto;
}